USE [master]
GO
/****** Object:  Database [Sito_Ecommerce]    Script Date: 10/7/2021 1:01:45 PM ******/
CREATE DATABASE [Sito_Ecommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sito_Ecommerce', FILENAME = N'C:\Users\tereza.simkova\Sito_Ecommerce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sito_Ecommerce_log', FILENAME = N'C:\Users\tereza.simkova\Sito_Ecommerce_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sito_Ecommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sito_Ecommerce]
GO
USE [Sito_Ecommerce]
GO
/****** Object:  Table [dbo].[CARTA]    Script Date: 10/7/2021 1:01:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTA](
	[CODICE_CARTA] [char](16) NOT NULL,
	[TIPO] [varchar](30) NOT NULL,
	[SCADENZA] [datetime] NOT NULL,
	[SALDO] [decimal](18, 0) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK_CARTA] PRIMARY KEY CLUSTERED 
(
	[CODICE_CARTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 10/7/2021 1:01:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[COGNOME] [varchar](50) NOT NULL,
	[DATA_DI_NASCITA] [datetime] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INDIRIZZO]    Script Date: 10/7/2021 1:01:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDIRIZZO](
	[ID_INDIRIZZO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](30) NOT NULL,
	[CITTA] [varchar](50) NOT NULL,
	[VIA] [varchar](50) NOT NULL,
	[CAP] [varchar](10) NOT NULL,
	[NUMERO_CIVICO] [varchar](5) NOT NULL,
	[PROVINCIA] [varchar](50) NOT NULL,
	[NAZIONE] [varchar](50) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK_INDIRIZZO] PRIMARY KEY CLUSTERED 
(
	[ID_INDIRIZZO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDINE]    Script Date: 10/7/2021 1:01:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDINE](
	[ID_ORDINE] [int] IDENTITY(1,1) NOT NULL,
	[STATO] [varchar](20) NOT NULL,
	[DATA_ORDINE] [datetime] NOT NULL,
	[TOTALE] [decimal](18, 0) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_INDIRIZZO] [int] NOT NULL,
	[CODICE_CARTA] [char](16) NOT NULL,
 CONSTRAINT [PK_ORDINE] PRIMARY KEY CLUSTERED 
(
	[ID_ORDINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDINE_PRODOTTO]    Script Date: 10/7/2021 1:01:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDINE_PRODOTTO](
	[ID_ORDINE] [int] NOT NULL,
	[ID_PRODOTTO] [int] NOT NULL,
	[QUANTITA] [int] NOT NULL,
	[SUBTOTALE] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODOTTO]    Script Date: 10/7/2021 1:01:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODOTTO](
	[ID_PRODOTTO] [int] IDENTITY(1,1) NOT NULL,
	[CODICE_PRODOTTO] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[DESCRIZIONE] [varchar](100) NOT NULL,
	[PREZZO] [decimal](18, 0) NULL,
	[QUANTITA_DISPONIBILE] [int] NULL,
 CONSTRAINT [PK_PRODOTTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODOTTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CARTA] ([CODICE_CARTA], [TIPO], [SCADENZA], [SALDO], [ID_CLIENTE]) VALUES (N'5698740023150026', N'DEBITO', CAST(N'2022-03-28T00:00:00.000' AS DateTime), CAST(2300 AS Decimal(18, 0)), 1)
INSERT [dbo].[CARTA] ([CODICE_CARTA], [TIPO], [SCADENZA], [SALDO], [ID_CLIENTE]) VALUES (N'6002581200369851', N'CREDITO', CAST(N'2022-03-28T00:00:00.000' AS DateTime), CAST(900 AS Decimal(18, 0)), 1)
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOME], [COGNOME], [DATA_DI_NASCITA]) VALUES (1, N'ANDREA', N'DORIA', CAST(N'1993-02-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[INDIRIZZO] ON 

INSERT [dbo].[INDIRIZZO] ([ID_INDIRIZZO], [TIPO], [CITTA], [VIA], [CAP], [NUMERO_CIVICO], [PROVINCIA], [NAZIONE], [ID_CLIENTE]) VALUES (1, N'RESIDENZA', N'MILANO', N'VIA MONTENAPOLEONE', N'20145', N'59', N'MILANO', N'ITALIA', 1)
SET IDENTITY_INSERT [dbo].[INDIRIZZO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODOTTO] ON 

INSERT [dbo].[PRODOTTO] ([ID_PRODOTTO], [CODICE_PRODOTTO], [NOME], [DESCRIZIONE], [PREZZO], [QUANTITA_DISPONIBILE]) VALUES (1, 231, N'JEANS', N'DENIM STRADIVARIUS', CAST(26 AS Decimal(18, 0)), 12)
SET IDENTITY_INSERT [dbo].[PRODOTTO] OFF
GO
ALTER TABLE [dbo].[CARTA]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CARTA] CHECK CONSTRAINT [FK_CLIENTE]
GO
ALTER TABLE [dbo].[INDIRIZZO]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_DI_INDIRIZZO] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[INDIRIZZO] CHECK CONSTRAINT [FK_CLIENTE_DI_INDIRIZZO]
GO
ALTER TABLE [dbo].[ORDINE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_DI_ORDINE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[ORDINE] CHECK CONSTRAINT [FK_CLIENTE_DI_ORDINE]
GO
ALTER TABLE [dbo].[ORDINE]  WITH CHECK ADD  CONSTRAINT [FK_CODICE_CARTA] FOREIGN KEY([CODICE_CARTA])
REFERENCES [dbo].[CARTA] ([CODICE_CARTA])
GO
ALTER TABLE [dbo].[ORDINE] CHECK CONSTRAINT [FK_CODICE_CARTA]
GO
ALTER TABLE [dbo].[ORDINE]  WITH CHECK ADD  CONSTRAINT [FK_INDIRIZZO] FOREIGN KEY([ID_INDIRIZZO])
REFERENCES [dbo].[INDIRIZZO] ([ID_INDIRIZZO])
GO
ALTER TABLE [dbo].[ORDINE] CHECK CONSTRAINT [FK_INDIRIZZO]
GO
ALTER TABLE [dbo].[ORDINE_PRODOTTO]  WITH CHECK ADD  CONSTRAINT [FK_ORDINE] FOREIGN KEY([ID_ORDINE])
REFERENCES [dbo].[ORDINE] ([ID_ORDINE])
GO
ALTER TABLE [dbo].[ORDINE_PRODOTTO] CHECK CONSTRAINT [FK_ORDINE]
GO
ALTER TABLE [dbo].[ORDINE_PRODOTTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODOTTO] FOREIGN KEY([ID_PRODOTTO])
REFERENCES [dbo].[PRODOTTO] ([ID_PRODOTTO])
GO
ALTER TABLE [dbo].[ORDINE_PRODOTTO] CHECK CONSTRAINT [FK_PRODOTTO]
GO
ALTER TABLE [dbo].[CARTA]  WITH CHECK ADD  CONSTRAINT [CHK_TIPO] CHECK  (([TIPO]='DEBITO' OR [TIPO]='CREDITO'))
GO
ALTER TABLE [dbo].[CARTA] CHECK CONSTRAINT [CHK_TIPO]
GO
ALTER TABLE [dbo].[INDIRIZZO]  WITH CHECK ADD  CONSTRAINT [CHK_TIPO_INDIRIZZO] CHECK  (([TIPO]='RESIDENZA' OR [TIPO]='DOMICILIO'))
GO
ALTER TABLE [dbo].[INDIRIZZO] CHECK CONSTRAINT [CHK_TIPO_INDIRIZZO]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CARTA]    Script Date: 10/7/2021 1:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_CARTA] 
@CODICECARTA CHAR(16),
@TIPO VARCHAR(30),
@SCADENZA DATETIME,
@SALDO DECIMAL,
@ID_CLIENTE INT
AS
IF @SCADENZA <= CONVERT(DATE,GETDATE())
SET @SCADENZA = NULL
INSERT INTO CARTA VALUES(@CODICECARTA,@TIPO,@SCADENZA,@SALDO,@ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CLIENTE]    Script Date: 10/7/2021 1:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_CLIENTE]
@NOME VARCHAR(50),
@COGNOME VARCHAR(50),
@DATA_NASCITA DATETIME
AS
INSERT INTO CLIENTE VALUES(@NOME,@COGNOME,@DATA_NASCITA);
GO
/****** Object:  StoredProcedure [dbo].[INSERT_INDIRIZZO]    Script Date: 10/7/2021 1:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_INDIRIZZO]
@TIPO VARCHAR(30),
@CITTA VARCHAR(50),
@VIA VARCHAR(50),
@CAP VARCHAR(10),
@NUMERO_CIVICO VARCHAR(5),
@PROVINCIA VARCHAR(50),
@NAZIONE VARCHAR(50),
@ID_CLIENTE INT
AS
INSERT INTO INDIRIZZO VALUES (@TIPO,@CITTA,@VIA,@CAP,@NUMERO_CIVICO,@PROVINCIA,@NAZIONE,@ID_CLIENTE);
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ORDINE]    Script Date: 10/7/2021 1:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_ORDINE] --DA CREARE
@STATO VARCHAR(20),
@DATA_ORDINE DATETIME,
@TOTALE DECIMAL,
@FK_CLIENTE INT,
@FK_INDIRIZZO INT,
@FK_CODICECARTA CHAR(16)
AS 
INSERT INTO ORDINE VALUES(@STATO,@DATA_ORDINE,@TOTALE ,@FK_CLIENTE ,@FK_INDIRIZZO ,@FK_CODICECARTA)
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ORDINE_PRODOTTO]    Script Date: 10/7/2021 1:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_ORDINE_PRODOTTO] --DA CREARE
@FK_ORDINE INT,
@FK_PRODOTTO INT,
@QUANTITA INT,
@SUBTOTALE DECIMAL
AS
INSERT INTO ORDINE_PRODOTTO VALUES(@FK_ORDINE,@FK_PRODOTTO,@QUANTITA,@SUBTOTALE);
GO
/****** Object:  StoredProcedure [dbo].[INSERT_PRODOTTO]    Script Date: 10/7/2021 1:01:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_PRODOTTO]
@CODICE_PRODOTTO INT,
@NOME VARCHAR(50),
@DESCRIZIONE VARCHAR(50),
@PREZZO DECIMAL,
@QUANTITA_DISP INT
AS
INSERT INTO PRODOTTO VALUES(@CODICE_PRODOTTO,@NOME,@DESCRIZIONE,@PREZZO,@QUANTITA_DISP);
GO
USE [master]
GO
